**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
aws
awscliv2.zip
.env
certs

k8s-COURSES/
# curriculum.md

# Python/MLflow ignores
mlops_env/
__pycache__/
*.pyc
mlruns/

*.exe
.pytest_cache/